[user]
  name = a-void
  email = avitiuk@me.com

[push]
  default = current

[alias]
  s = status
  l = log --color --graph --pretty=format:'%C(yellow)%h%Creset -%C(green)%d%Creset %s %C(blue)[%cr]%Creset %C(bold black)-%an%Creset' --abbrev-commit --date=relative
  lp = log -p --color --graph --pretty=format:'%C(yellow)%h%Creset -%C(green)%d%Creset %s %C(blue)[%cr]%Creset %C(bold black)-%an%Creset' --abbrev-commit --date=relative

